<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skins Store</title>
    <link rel="stylesheet" href={{ url_for('static', filename='./css/store.css') }}>
    <link rel="shortcut icon" href="{{ url_for('static', filename='./img/favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='./js/store.js') }}"></script>
</head>
<body>
    {# NAV BAR #}
    <header>
        <div class="title">
            <img src="{{ url_for('static', filename='./img/logo.png') }}" alt="logo">
            <span>kins Shop</span>
        </div>
        <div class="panel">
            <img id="shopping_cart" src="{{ url_for('static', filename='./img/shopping_cart.png') }}" alt="cart">
            <div class="dropdown">
                <img id="avatar" src="{{ url_for('static', filename='./img/avatar.png') }}" alt="avatar">
                <div class="dropdown-content">
                    <a href="#">My Profile</a>
                    <a href="#">My Skins</a>
                    <a href="#">My Balance</a>
                </div>
            </div>
        </div>
    </header>

    {#  SHOPPING CARD  #}
    <div id="order" class="modal">
        <div class="modal-content">
            <span id="close">&times;</span>
            <p>Your order:</p>
        </div>
    </div>

    {# CATEGORY #}
    <div class="category-bar">
        <a href="#" class="category-bar_btn corner active">COLOR</a>
        <a href="#" class="category-bar_btn inside">GRADIENT</a>
        <a href="#" class="category-bar_btn corner">PATTERN</a>
    </div>

    {#  ITEMS TO BUY  #}
    <div class="container">
        {# CUSTOM COLOR ITEM #}
        {% for i in items %}
            <div class="item">
                <div class="item-img"></div>
                <p>$00.50</p>
            </div>
        {% endfor %}
    </div>

    {# PADDING #}
    <div class="padding"></div>
</body>
</html>